<div class="row">
  <div class="col s6 m4">
    <label>Search By</label>
    <select class="browser-default" onchange={{action (mut selectedSearchField) value="target.value"}}>
      {{#each searchByFields as |field|}} 
        <option 
          value={{field.value}}
          selected={{eq selectedSearchField field.value}} >
          {{field.name}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class="col s6 m6">
    {{#if (eq selectedSearchField 'teacherId')}}
      <PowerSelect 
        @search={{action (perform searchTeachersTask)}}
        @options={{teachers}}
        @selected={{selectedTeacher}}
        @onchange={{action (mut selectedTeacher)}} as |teacher|>
        {{teacher.name}}
      </PowerSelect>
    {{else}}
      <div class="input-field">
        <Input 
          id="search" 
          @type="text" 
          @value={{query}} />
        <label for="search">Search Query</label>
      </div>
    {{/if}}
  </div>
  <div class="col s6 m2">
    <div class="input-field">
      <button class="btn" {{action (perform searchTask) query}}>
        Search
      </button>
    </div>
  </div>
</div>
{{#if searchTask.isRunning}}
  <Loader />
{{else}}
  <div class="row">
    <PaginationPills
      @pagination={{participants.meta.pagination}} />
  </div>
  <div class="row">
    <table class="striped centered">
      <thead>
        <tr>
          <th>Form No.</th>
          <th>Student Name</th>
          <th>CI Name</th>
          <th>ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each participants as |participant|}}
          <tr>
            <td>
              {{participant.id}}
            </td>
            <td>
              {{participant.name}}
            </td>
            <td>
              {{participant.teacher.name}}
            </td>
            <td>
              {{participant.studentId}}
            </td>
            <td>
              <a href="#" target="_blank" class="btn waves-effect waves-light">Admit Card</a>
              <LinkTo 
                @route='participate.id'
                @model={{participant.id}}
                class="btn waves-effect waves-light">
                Edit
              </LinkTo>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>
{{/if}}