<div class="center-align">
  <ul class="pagination">
    {{#unless (eq pagination.currentPage 1)}}
      <li>
        <a href="#" {{action setOffset pagination.prevOffset}}><i class="material-icons">chevron_left</i></a>
      </li>
    {{/unless}}

    {{or (inc pagination.currentOffset) 1}} - {{or pagination.nextOffset pagination.count}} of {{pagination.count}}

    {{#if pagination.nextOffset}}
      <li class="waves-effect">
        <a href="#" {{action setOffset pagination.nextOffset}}><i class="material-icons">chevron_right</i></a>
      </li>
    {{/if}}
  </ul>
</div>
